.dialog {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 10px;
  transition: 0.2s;
  color: #343a40;
}
.dialog:hover {
  background: #343a40;
  color: #fff;
}

.dialog.active {
  color: goldenrod;
}

.dialog img {
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
