.navbar {
  grid-area: n;
  background-color: #343a40;
}
.navbarItem {
  padding: 20px;
}
.navLink {
  color: #fff;
  text-decoration: none;
}
.navLink.active {
  color: goldenrod;
}
.navLink:hover {
  text-decoration: underline;
}
.navItem {
  margin-bottom: 15px;
}

.friends {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 15px;
}
.online {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  color: #fff;
  font-size: 14px;
}

.online img {
  border-radius: 50%;
  width: 40px;
}

.online span {
  font-size: 10px;
  color: goldenrod;
}
