.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.dialogsElements {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #c7c5c5;
}
