.dialogs {
  display: grid;
  grid-template-columns: 3fr 9fr;
  grid-gap: 10px;
}

.dialogsElements {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #c7c5c5;
}

.messages {
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #c7c5c5;
}

.messageItem {
  display: grid;
  grid-template-columns: 10fr 2fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  margin-top: 10px;
}

.messageText {
  height: 65px;
  padding: 10px;
  border: 1px solid #c7c5c5;
  border-radius: 5px;
  resize: none;
}

.sendBtn {
  text-transform: uppercase;
  font-size: 15px;
  border: 1px solid #c7c5c5;
  color: #343a40;
  transition: 0.5s;
  border-radius: 5px;
  background-color: #fff;
}

.sendBtn:hover {
  background: #343a40;
  color: #fff;
}
